<style>
@media only screen and (max-width: 599px) {
       td[class="hero"] img {
           width: 100%;
           height: auto !important;
       }
    td[class="pattern"] td{
        width: 100%;
    }
}


</style>
<table cellpadding="0" cellspacing="0">
    <tr>
        <td class="pattern" width="100%">
            <table cellpadding="0" cellspacing="0">
                <tr><td class="hero">
                        <img src="http://checkasistencia.appspot.com/images/writing.gif" alt="" style="display: block; border: 0; height:50%;" />
				</td></tr>
                <tr><td align="left" style="font-family: arial,sans-serif; color: #333;">
                        <h1>Grupo de conexión</h1>
                </td></tr>
                <tr><td align="left" style="font-family: arial,sans-serif;font-size: 14px;line-height: 20px !important;color: #666;padding-bottom: 20px;">
                        Hola querido grupo,
                </td></tr>
                <tr><td align="left" style="font-family: arial,sans-serif;font-size: 14px;line-height: 20px !important;color: #666;padding-bottom: 20px;">
                        <b>{mensaje}</b>
                </td></tr>
                <tr><td align="left" style="font-family: arial,sans-serif;font-size: 14px;line-height: 20px !important;color: #666;padding-bottom: 20px;">
                        Para editar tus datos por favor da click en el botón de <b>abrir</b>. Feliz día!<br/>(Si tienes problema con el enlace en tu dispositivo móvil, por favor ábrelo en un computador de escritorio)
                </td></tr>
                <tr><td align="left">
                        <a style="width: 160px;display: block;color: white;text-decoration:none;padding: 15px 20px;text-align:center;color: #fff;background-color: #269abc;border-color: #1b6d85;" target="_blank" href="{enlace}">Abrir</a>
                </td></tr>
            </table>
        </td>
    </tr>
</table>