{% extends "base.html" %}
{% block content %}

<div id="myform">

<input type="text" name="texto"></input>
<input type="button" id="accion" value="Agregar!"></input>
</div>

<ol id="resultado"></ol>

<pre id="visionJsonUltima"></pre>
<pre id="visionJson"></pre>

{% endblock %}


{% block pie %}
<script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
<script>

	var jsonToHtml = function(val) {
		return JSON.stringify(val, null, 4).replace('\n', '<br>');
	};

	// Initialize Firebase
	var config = {
		apiKey : "AIzaSyCWo8e8hTwU-QUhTUBTToIgVbwQBNQlqpM",
		authDomain : "proyeccion-colombia1.firebaseapp.com",
		databaseURL : "https://proyeccion-colombia1.firebaseio.com",
		projectId : "proyeccion-colombia1",
		storageBucket : "proyeccion-colombia1.appspot.com",
		messagingSenderId : "569221347334"
	};
	firebase.initializeApp(config);
	var database = firebase.database();
	var fruits = database.ref('fruits');
	var ultimaFruta = database.ref('ultimaFruta');
	
	$('#accion').on('click', function() {
		var data = {
		  texto: $('#myform [name="texto"]').val(),
		};
		
		// Get a key for a new Post.
		var newPostKey = fruits.push().key;
		// Write the new post's data simultaneously in the posts list and the user's post list.
		var updates = {};
		updates['/fruits/' + newPostKey] = data;
		updates['/ultimaFruta/'] = data;
		var promesa = firebase.database().ref().update(updates);
		
		promesa.then(function() {
			$('#myform [name="texto"]').val('')
			console.log('data saved!');
		});
		
		//fruits.push(data, finished);
	});
	
	function borrarElemento() {
		var elem = $(this);
		var llave = elem.attr('data-key');
		
		var metodo1 = function() {
			var promesa = firebase.database().ref('fruits/' + llave).set(null);
			promesa.then(function() {
				console.log('Entrada borrada!')
			});
		};
		
		var metodo2 = function() {
			fruits.child(llave).remove();
		};
		
		var metodo3 = function() {
			var updates = {};
			updates['/fruits/' + llave] = null;
			var promesa = firebase.database().ref().update(updates);
			promesa.then(function() {
				console.log('Entrada borrada!')
			});
		};
		
		metodo3();
	};
	
	function gotData(data) {
		var fruits = data.val();
		$('#visionJson').html(jsonToHtml(fruits))
		// Grab the keys to iterate over the object
		$('#resultado').empty();
		if (fruits) {
			var keys = Object.keys(fruits);
			for (var i = 0; i < keys.length; i++) {
				var key = keys[i];
				// Look at each fruit object!
				var fruit = fruits[key];
				var nuevoElemento = $('<li>'+fruit.texto+'</li>');
				var borrame = $('<a href="#">(Borrame)</a>');
				borrame.attr('data-key', key);
				borrame.on('click', borrarElemento);
				nuevoElemento.append(borrame);
				$('#resultado').append(nuevoElemento);	
			}
		}
	};
	
	function funcionError(err) {
		console.log('Error ',err)
	}
	
	//Escuchan eventos de cambio de información
	fruits.on("value", gotData, funcionError);
	
	ultimaFruta.on("value", function(data) {
		var ultima = data.val();
		$('#visionJsonUltima').html(jsonToHtml(ultima))
	}, funcionError);

	//Para validar la autenticación
	firebase.auth().onAuthStateChanged(function(user) {
		if (user) {
			// User is signed in and currentUser will no longer return null.
		} else {
			// No user is signed in.
		}
	});
</script>
{% endblock %}