{% extends "base.html" %}
{% block content %}

<div class="panel panel-default">
  <div class="panel-heading">Grupo de Conexión</div>
  <div class="panel-body nopadding">
  	<div class="form-group col-xs-12">
  		<div class="form-group col-xs-12">
  		&nbsp;
  		</div>
  		{% if not user %}
  		<div class="form-group col-xs-12">
  			<button type="button" class="btn btn-success col-xs-12 accion_login">Ingresar</button>
  		</div>
  		{% endif %}
  		
  		<div class="form-group col-xs-12">
  			<button type="button" class="btn btn-success col-xs-12 crear_usuario">Crear persona</button>
  		</div>
  		<div class="form-group col-xs-12">
  			<button type="button" class="btn btn-info col-xs-12 accion_ir_a_registro">Tomar Lista</button>
  		</div>
  		<div class="form-group col-xs-12">
  			<button type="button" class="btn btn-info col-xs-12 accion_buscar_personas">Buscar personas</button>
  		</div>
  		
  		{% if user %}
  		{% if admin %}
  		<div class="form-group col-xs-12">
  			<button type="button" class="btn btn-info col-xs-12 accion_ir_a_verasistencia">Ver Asistencia</button>
  		</div>
  		{% endif %}
  		<div class="form-group col-xs-12">
  			<button type="button" class="btn btn-danger col-xs-12 accion_logout">Salir</button>
  		</div>
  		{% endif %}
  	</div>
  	
  </div>
</div>
{% endblock %}