{% extends "base.html" %}

{% block content %}
		<!-- One -->
		{% with nodo=path|add:'/artX' tipo='Documento' %}
			<section id="one" class="main style1" about="{{ nodo }}" typeof="{{ tipo }}">
				<div class="container">
					<div class="row 150%">
						<div class="6u 12u$(medium)">
							<header class="major">
								<h2 property="titulo">{% buscar leng dicci tipo nodo 'titulo' 'Lorem ipsum dolor adipiscing<br /> amet dolor consequat' %}</h2>
							</header>
							<p property="texto">{% buscar leng dicci tipo nodo 'texto' 'Adipiscing a commodo ante nunc accumsan et interdum mi ante adipiscing. A nunc lobortis non nisl amet vis sed volutpat aclacus nascetur ac non. Lorem curae et ante amet sapien sed tempus adipiscing id accumsan.' %}</p>
						</div>
						<div class="6u$ 12u$(medium) important(medium)">
							<span class="image fit"><img property="imagen" src="{% buscar leng dicci tipo nodo 'imagen' '/images/pic01.jpg' %}" alt="" /></span>
						</div>
					</div>
				</div>
			</section>
		{% endwith %}
{% endblock %}