{% extends "base.html" %}

{% block encabezado %}
<script type="text/html" id="SectionCar">
	<div class="4u 12u$(medium)" about="" typeof="Caracteristica">
		<span class="image fit"><img property="imagen" src="/images/pic02.jpg" alt="" /></span>
		<h3 property="titulo"></h3>
		<div property="contenido"></div>
		<ul class="actions">
			<li><a href="#" class="button">M&aacute;s</a></li>
		</ul>
	</div>
</script>

<style>
	.contenedor-envio-mensajes .error,.contenedor-envio-mensajes .cien {
		width: 100%;
		margin-bottom: 10px;
	}
	
	.botones_sociales {
		width: 50%;
		margin: 0 auto;
	}
</style>

{% endblock %}

{% block content %}
		
		<!-- Header -->
			{% with nodo='/inicio' tipo='Documento' %}
			<section id="header" about="{{ nodo }}" typeof="{{ tipo }}" styleProperty="fondo" style="{% buscar leng dicci tipo nodo 'fondo' 'background-image: url(\'/images/pic01.jpg\') !important;' %} ">
				<div class="inner">
					<span class="icon major "><img property="imagen" src="{% buscar leng dicci tipo nodo 'imagen' '/images/LOGO014A.png' %}" /></span>
					<h1 property="titulo" class="">{% buscar leng dicci tipo nodo 'titulo' 'Hi, I\'m <strong>Photon</strong>, another fine<br />little freebie from <a href="http://html5up.net">HTML5 UP</a>.' %}</h1>
					<div property="lema" class="parrafo" style="font-size: 150%;">{% buscar leng dicci tipo nodo 'lema' 'Accumsan feugiat mi commodo erat lorem ipsum, sed magna<br /> lobortis feugiat sapien sed etiam volutpat accumsan.' %}</div>
					<div class="botones_sociales" data-facebook data-instagram></div>
					<ul class="actions">
						<li ><a href="#three" class="button scrolly" property="boton" plaintext="true">{% buscar leng dicci tipo nodo 'boton' 'Discover' %}</a></li>
					</ul>
				</div>
			</section>
			{% endwith %}

		<!-- Three -->
			<section id="three" class="main style1 special">
				<div class="container">
					{% with nodo='/art3' tipo='Documento' %}
					<div about="{{ nodo }}" typeof="{{ tipo }}">
					<header class="major">
						<h2 property="titulo">{% buscar leng dicci tipo nodo 'titulo' 'Adipiscing amet consequat' %}</h2>
					</header>
					<p property="texto">{% buscar leng dicci tipo nodo 'texto' 'Ante nunc accumsan et aclacus nascetur ac ante amet sapien sed.' %}</p>
					</div>
					{% endwith %}
					{% autoescape off %}
					{% with nodo='/temporal1' tipo='lista1' rel='caracteristicasTipoRel' %}
					{% with mibusqueda='{"q":"SELECT * FROM Caracteristica ORDER BY modif DESC", "n":12}' %}
					<div typeof="{{ tipo }}" about="{{ nodo }}">
						<div class="row 150%" rel="{{ rel }}">
							{% with lista=entidades|darElemento:mibusqueda %}
							{%for car in lista %}
							<div class="4u 12u$(medium)" about="{{ car.id }}" typeof="Caracteristica">
								<span class="image fit"><img property="imagen" src="{% buscar2 leng car 'imagen' '/images/pic02.jpg' %}" alt="" /></span>
								<h3 property="titulo">{% buscar2 leng car 'titulo' 'Titulo' %}</h3>
								<div property="contenido" class="parrafo">{% buscar2 leng car 'contenido' 'Contenido' %}</div>
								<ul class="actions">
									<li><a target="_blank" href="/leng-{{ leng }}/Caracteristica/{{ car.id }}" class="button">{% traducir leng 'mas' %}</a></li>
								</ul>
							</div>
							{% endfor %}
							{% endwith %}
						</div>
					</div>
					<div class="paginacion">
					{% with cursor=cursores|darElemento:mibusqueda %}{% if cursor %}
					{% ixpagina 0 cursor mibusqueda admin 'SectionCar' nodo rel leng 'inicio' %}
					{% ixpagina 1 cursor mibusqueda admin 'SectionCar' nodo rel leng 'siguiente' %}
					{% else %}
					{% ixpagina 0 cursor mibusqueda admin 'SectionCar' nodo rel leng 'inicio' %}
					{% endif %}
					{% endwith %}
					</div>
					{% endwith %}
					{% endwith %}
					{% endautoescape %}
				</div>
			</section>

		<!-- Two -->
		{% with nodo='/art2' tipo='Documento' %}
			<section id="two" class="main style2" about="{{ nodo }}" typeof="{{ tipo }}" styleProperty="fondo" style="{% buscar leng dicci tipo nodo 'fondo' 'background-image: url(\'/images/overlay1.png\') !important;' %}  ">
				<div class="container">
					<div class="row 150%">
						<div class="6u 12u$(medium)">
							<!--ul class="major-icons editable" property="iconos">
							{% buscar leng dicci tipo nodo 'iconos' '<li><span class="icon style1 major fa-code"></span></li><li><span class="icon style2 major fa-bolt"></span></li><li><span class="icon style3 major fa-camera-retro"></span></li><li><span class="icon style4 major fa-cog"></span></li><li><span class="icon style5 major fa-desktop"></span></li><li><span class="icon style6 major fa-calendar"></span></li>' %}
							</ul-->
							<ul class="major-icons columna_imagenes">
							<li>
								<img property="img1" src="{% buscar leng dicci tipo nodo 'img1' '/images/pic05.jpg' %}"/>
							</li>
							<!-- li>
								<img property="img2" src="{% buscar leng dicci tipo nodo 'img2' '/images/pic05.jpg' %}"/>
							</li-->
							</ul>
						</div>
						<div class="6u$ 12u$(medium)">
							<header class="major">
								<h2 property="titulo">{% buscar leng dicci tipo nodo 'titulo' 'Lorem ipsum dolor adipiscing<br />amet dolor consequat' %}</h2>
							</header>
							<div property="texto" class="parrafo">{% buscar leng dicci tipo nodo 'texto' '<p>Adipiscing a commodo ante nunc accumsan interdum mi ante adipiscing. A nunc lobortis non nisl amet vis volutpat aclacus nascetur ac non. Lorem curae eu ante amet sapien in tempus ac. Adipiscing id accumsan adipiscing ipsum.</p><p>Blandit faucibus proin. Ac aliquam integer adipiscing enim non praesent vis commodo nunc phasellus cubilia ac risus accumsan. Accumsan blandit. Lobortis phasellus non lobortis dit varius mi varius accumsan lobortis. Blandit ante aliquam lacinia lorem lobortis semper morbi col faucibus vitae integer placerat accumsan orci eu mi odio tempus adipiscing adipiscing adipiscing curae consequat feugiat etiam dolore.</p><p>Adipiscing a commodo ante nunc accumsan interdum mi ante adipiscing. A nunc lobortis non nisl amet vis volutpat aclacus nascetur ac non. Lorem curae eu ante amet sapien in tempus ac. Adipiscing id accumsan adipiscing ipsum.</p>' %}
							</div>
							<header class="major">
								<h2 property="titulo2">{% buscar leng dicci tipo nodo 'titulo2' 'Lorem ipsum dolor adipiscing<br />amet dolor consequat' %}</h2>
							</header>
							<div property="texto2" class="parrafo">{% buscar leng dicci tipo nodo 'texto2' '<p>Adipiscing a commodo ante nunc accumsan interdum mi ante adipiscing. A nunc lobortis non nisl amet vis volutpat aclacus nascetur ac non. Lorem curae eu ante amet sapien in tempus ac. Adipiscing id accumsan adipiscing ipsum.</p><p>Blandit faucibus proin. Ac aliquam integer adipiscing enim non praesent vis commodo nunc phasellus cubilia ac risus accumsan. Accumsan blandit. Lobortis phasellus non lobortis dit varius mi varius accumsan lobortis. Blandit ante aliquam lacinia lorem lobortis semper morbi col faucibus vitae integer placerat accumsan orci eu mi odio tempus adipiscing adipiscing adipiscing curae consequat feugiat etiam dolore.</p><p>Adipiscing a commodo ante nunc accumsan interdum mi ante adipiscing. A nunc lobortis non nisl amet vis volutpat aclacus nascetur ac non. Lorem curae eu ante amet sapien in tempus ac. Adipiscing id accumsan adipiscing ipsum.</p>' %}
							</div>
						</div>
					</div>
				</div>
			</section>
		{% endwith %}
		
		<!-- One -->
		{% with nodo='/art1' tipo='Documento' %}
			<section id="one" class="main style1" about="{{ nodo }}" typeof="{{ tipo }}">
				<div class="container">
					<div class="row 150%">
						<div class="6u 12u$(medium)">
							<header class="major">
								<h2 property="titulo">{% buscar leng dicci tipo nodo 'titulo' 'Lorem ipsum dolor adipiscing<br /> amet dolor consequat' %}</h2>
							</header>
							<div property="texto" class="parrafo">{% buscar leng dicci tipo nodo 'texto' 'Adipiscing a commodo ante nunc accumsan et interdum mi ante adipiscing. A nunc lobortis non nisl amet vis sed volutpat aclacus nascetur ac non. Lorem curae et ante amet sapien sed tempus adipiscing id accumsan.' %}</div>
						</div>
						<div class="6u$ 12u$(medium) important(medium)">
							<span class="image fit"><img property="imagen" src="{% buscar leng dicci tipo nodo 'imagen' '/images/pic01.jpg' %}" alt="" /></span>
						</div>
					</div>
				</div>
			</section>
		{% endwith %}

		<!-- Four -->
			{% with nodo='/art4' tipo='Documento' %}
			<section id="four" class="main style2 special" about="/art4" typeof="Documento" styleProperty="fondo" style="{% buscar leng dicci tipo nodo 'fondo' 'background-image: url(\'/images/overlay1.png\') !important;' %}">
				<div class="container">
					<div class="row 150%">
						<div class="12u 12u$(medium)">
							<header class="major">
								<h2 property="titulo">{% buscar leng dicci tipo nodo 'titulo' 'Ipsum feugiat consequat?' %}</h2>
							</header>
							<div property="texto" class="parrafo">{% buscar leng dicci tipo nodo 'texto' 'Sed lacus nascetur ac ante amet sapien.' %}</div>
							<ul class="actions uniform contenedor-envio-mensajes">
								<h2 property="gracias" class="invisible">{% buscar leng dicci tipo nodo 'gracias' 'Gracias por enviar el mensaje' %}</h2>
								<li class="cien"><input type="text" placeholder="{% traducir leng 'nombresyape' %}" validacion="^(.+)$"></input></li>
								<li class="cien"><input type="text" placeholder="{% traducir leng 'correo' %}" validacion="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" ></input></li>
								<li class="cien"><input type="text" placeholder="{% traducir leng 'celular' %}" validacion="^(|\d{7}|\d{10})$" ></input></li>
								
								<li id="mensaje-enviar" class="invisible cien"><textarea rows="4" placeholder="Mensaje"></textarea></li>
								
								<li><a class="boton-envio-mensaje button special">{% traducir leng 'enviar' %}</a></li>
								<li><a onclick="$('#mensaje-enviar').removeClass('invisible'); $(this).addClass('invisible');" class="button">{% traducir leng 'agreg_msj' %}</a></li>
							</ul>
						</div>
						<div class="6u$ 12u$(medium) important(medium) invisible">
							<div class="image fit">
							<div id="mapaid"></div>
							</div>
						</div>
					</div>
				</div>
			</section>
			{% endwith %}

		<!-- Five -->
		
{% endblock %}
			